 <div class="alert alert-info">
  <h4>2012-07-22</h4>
  <ul>
    <li>Neue Version von Bootstrap (2.1.0pre)</li>
  </ul>
</div>

 <div class="alert alert-info">
  <h4>2012-05-23</h4>
  <ul>
    <li>Events werden auf Twitter gepostet #BikePlannerFell</li>
    <li>Bewertung ergänzt für Strecke und Tempo</li>
  </ul>
</div>

 <div class="alert alert-info">
  <h4>2012-05-8</h4>
  <ul>
    <li>Datum/Uhrzeit wird in den Kommentaren angezeigt</li>
    <li>Favicon</li>
  </ul>
</div>

 <div class="alert alert-info">
  <h4>2012-04-24</h4>
  <ul>
    <li>Bootstrap 2.0.3</li>
    <li>Tabellenindizierung angepasst</li>
    <li>Admin-Rolle eingefügt</li>
  </ul>
</div>

<div class="alert alert-info">
  <h4>2012-04-10</h4>
  <ul>
    <li>Gesamtübersicht in Ranglisten eingefügt (Summe Zeit, Kilometer ...)</li>
    <li>Tabellen sortierbar (Klick auf Spaltentitel) </li>
  </ul>
</div>

<div class="alert alert-info">
  <h4>2012-04-08</h4>
  <ul>
    <li>Rails 3.2.3</li>
    <li>Thin durch Puma.io ersetzt</li>
  </ul>
</div>

<div class="alert alert-info">
  <h4>2012-03-02</h4>
  <ul>
  	<li>Vereinheitlichung im Design</li>
  	<li>Nicht-abgeschlossene Touren werden fablich markiert</li>
  	<li>Statistik um Touren erweitert</li>
  </ul>
</div>

<div class="alert alert-info">
  <h4>2012-03-03</h4>
  <ul><li>Kommentarfunktion und Bewertungen freigeschaltet</li></ul>
</div>

<div class="alert alert-info">
  <h4>2012-03-02</h4><ul><li>Tabllen k&ouml;nnen jetzt durch Klick auf den Spaltenkopf sortiert werden</li></ul>
</div>