<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Willkommen zum BikePlanner, <%= @user.name %>!</h1>
    <p>
      Du hast dich für bikeplanner.rolandschmitt.info angemeldet,
      der Benutzername ist <%= @user.mail %>.<br/>
    </p>
    <p>
      Zum Anmelden und Ansehen der Touren: bikeplanner.rolandschmitt.info.
    </p>
    <p>Danke fürs mMtmachen und einen schönen Tag!</p>
  </body>
</html>